<a href="https://colab.research.google.com/github/sj-onu/Python_own/blob/master/All_code_for_mid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [68]:
a = input()
type(a)

ndsjkfnj

str

In [ ]:
var_1 = 10
type(var_1)

int

In [ ]:
var_1 = 10.56
type(var_1)

float

In [ ]:
var_3 = "CSE309"
type(var_3)

str

In [ ]:
var_4=5
type(var_4)

int

In [ ]:
x = 10
print(x)

10

In [ ]:
a=50
a=60
print(a)

60

In [ ]:
var4 = 50
print(x)

10

In [ ]:
var_4 = 50

In [ ]:
# Take two interger inputs and add them. (correct example)

a = int( input() )
b = int( input() )

sum = a + b

print(sum)
1
2

12
34
46

2

In [ ]:
# Take two interger inputs and add them. (correct example)

a = int( input() )
b = int( input() )

sum = a - b

print(sum)

23
21
2

In [69]:
s1 = "This"
s2 = ' is a cat'
print(s1, s2)

This  is a cat

In [ ]:
s3=s1+s2
print(s3)

This is a cat

In [ ]:
# square
a = int( input("Input 1: ") )
square = a**2
print('square: ', square)

Input 1: 5
square:  25

In [ ]:
5+5

10

In [ ]:
4+10-3

11

In [ ]:
8/2

4.0

In [ ]:
78/5

15.6

In [ ]:
round(10.4658461)

In [ ]:
kingCommand = 'The king said "Bring the man"'
print(kingCommand, type(kingCommand))

In [33]:
x = "Python!"
len(x)

7

In [34]:
x[ : ]

'Python!'

In [ ]:
x[-3:]

'on!'

In [ ]:
x[:-3]

'Pyth'

In [ ]:
x[-3]

'o'

In [ ]:
x[-30]

IndexError: ignored

In [ ]:
x[-30:]

'Python!'

In [ ]:
x[::-1]

'!nohtyP'

In [ ]:
x[-1:4]

''

In [37]:
x[100]

IndexError: ignored

In [ ]:
x[100:]

''

In [39]:
L = [1, 10, 30, 4, -5]

In [40]:
L[2 : 4 : 2]

[30]

In [43]:
L[1:]

[10, 30, 4, -5]

In [ ]:
x = int(input())

if (x>0) :
  print("Positive")
  print("Very Positive")
else :
  print("Negative")

6
Positive
Very Positive

In [ ]:
x = int(input())

if (x>0) :
  print("Positive")
  print("Very Positive")
else:
print("Now this will work fine!")

IndentationError: ignored

In [ ]:
d = { 
    "key" : "value",
     "name" : "Tanmoy",
     "Dept" : "CSE",
     10 : "Lucky number",
     4 : 400
 }

In [ ]:
d["key"]

'value'

In [ ]:
d

{10: 'Lucky number', 4: 400, 'Dept': 'CSE', 'key': 'value', 'name': 'Tanmoy'}

In [ ]:
i = 0
while (i<20) :
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
i=15
sum = 0
while i<15 :
  if(i ==15):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 1
print("=", sum)

= 0

In [ ]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 1
print("=", sum)

Start: 5
End: 8
5 + 6 + 7 + 8 = 26

In [ ]:
L = [1, 2, 3, 4, 5, 10, 20]

In [ ]:
L[0 : len(L) : 2]  #List[ starting index : ending index+1 : increment ]

[1, 3, 5, 20]

In [ ]:
#l[start : end + 1: increment]->range
l = list( range(1, 10, 2) )
l

[1, 3, 5, 7, 9]

In [ ]:
class Account:
  account_number = 0
  balance = 0.0

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.balance)
  
  def set_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.balance = balance

In [ ]:
a=Account()
a.account_number=1000
a.show_data()

1000  :  0.0

In [ ]:
class Account2:
  account_number = 0 # public attribute
  __balance = 50.0 # Private attribute

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.__balance)
   
   
 
  def add_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.__balance += balance

A=Account2()

A.show_data()
A.add_balance(20)

0  :  50.0

In [ ]:
A.show_data()

0  :  70.0

In [ ]:
A.add_balance(20)

In [ ]:
class Account3:

  def __init__(self, account_number, balance): # This is the constructor
    self.account_number = account_number
    self.__balance = balance

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.__balance)
  
  def add_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.__balance += balance

A=Account3(1000,34)

A.show_data()
A.add_balance(20)
A.show_data()

1000  :  34
1000  :  54

In [ ]:
class Shopping_Complex:

  def __init__(self, name, location, owner):
    self.name = name
    self.location = location
    self.owner = owner

  def set_shops(self, n):
    self.number_of_shops = n
  
  def open_or_close(self, day):
    if(day == "Sunday"):
      print("Closed!")
    else:
      print("Welcome. We are open!")
    
  def show_info(self):
    print("Name: ", self.name)
    print("Owner: ", self.owner)
    print("Location: ", self.location)
    print("Shops count:", self.number_of_shops)

In [ ]:
s=Shopping_Complex("BC","Dhaka","onu")
s.set_shops(5)
s.show_info()
s.open_or_close("Friday")

Name:  BC
Owner:  onu
Location:  Dhaka
Shops count: 5
Welcome. We are open!

In [ ]:
class CEO:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def show_info(self):
    print("CEO Name:", self.name)
    print("CEO Age:", self.age)

In [ ]:
mim = CEO("Mim", 60)

In [ ]:
s.CEO=mim

In [ ]:
s.CEO.show_info()

CEO Name: Mim
CEO Age: 60

In [30]:
class Mobile:

  def __init__(self, IMEI):
    self.IMEI = IMEI
  
  def call(self, contact_number):
    print("Calling ... " , contact_number)
  
  def text(self, contact_number, mgs):
    print("Sending message to", contact_number, mgs)

class SamsungMobile(Mobile):
  def set_logo(self):
    print("Samsung logo is set")

class SamsungA50(SamsungMobile):
  def set_model(self):
    print("Sansumg A50 is set")

In [31]:
m=Mobile("01034937277")
m.text("01625621787","Is busy now.")

Sending message to 01625621787 Is busy now.

In [ ]:
Kasfia_mobile = SamsungA50("0845546dsfjnsdfkmdsf5412")

In [ ]:
Kasfia_mobile.set_model()

Sansumg A50 is set

In [17]:
def isprime(a,b):
  if(a<2):
    return False
    for i in range(a,b):
      if(a%i==0):
          return a

    print(" %d" %Number, end = '  ')

In [25]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if i**2 :
    
    if(i == end_p):
      print(i, end=' ')
    else:
      print(i**2, "+" , end=' ')
    
    sum = sum + i*i

  i += 1
print("=", sum)

Start: 1
End: 12
1 + 4 + 9 + 16 + 25 + 36 + 49 + 64 + 81 + 100 + 121 + 12 = 650

In [26]:
a=int(input())
b=int(input())
for Number in range (a, b):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

1
12
 2   3   5   7   11

In [27]:
def pattern(n):
      k = 2 * n - 2
      for i in range(0,n):
           for j in range(0,k):
               print(end=" ")
           k = k - 1
           for j in range(0, i+1):
                print("*", end=" ")
           print("\n")
 
pattern(5)

        *

       * *

      * * *

     * * * *

    * * * * *

In [ ]:
def pattern(n):
     for i in range(0,n):
         for j in range(0, i+1):
              print("* " , end="")
         print("\r")
 
pattern(5)

*
* *
* * *
* * * *
* * * * *

In [28]:
def is_prime(number): 
	count=0 
	for i in range(1,number+1): 
		if(number%i == 0): 
			count+=1 
 
	if(count == 2): 
		return True 
	return False

def main(): 
	for i in range(1,10): 
		if(is_prime(i)): 
			print(i) 

 
if __name__=='__main__': 
	main()

2
3
5
7

In [47]:
n=int(input())
sum = 0
for num in range(0, n+1, 1):
    sum = sum+num*num
print("SUM of first ", n, "numbers is: ", sum )

5
SUM of first  5 numbers is:  55

In [ ]:
i = 0
while (i<10) :
  print(i)
  i = i + 1

In [49]:
i=1
sum = 0
while i<11 :
  if(i == 10):
    print(i, end=' ')
  else:
    print(i*i, "+" , end=' ')
  sum = sum + i*i
  i += 1
print("=", sum)

1 + 4 + 9 + 16 + 25 + 36 + 49 + 64 + 81 + 10 = 385

In [50]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 1
print("=", sum)

Start: 12
End: 23
12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 + 21 + 22 + 23 = 210

In [51]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if i%2 == 0:
    
    if(i == end_p):
      print(i, end=' ')
    else:
      print(i, "+" , end=' ')
    
    sum = sum + i

  i += 1
print("=", sum)

Start: 5
End: 88
6 + 8 + 10 + 12 + 14 + 16 + 18 + 20 + 22 + 24 + 26 + 28 + 30 + 32 + 34 + 36 + 38 + 40 + 42 + 44 + 46 + 48 + 50 + 52 + 54 + 56 + 58 + 60 + 62 + 64 + 66 + 68 + 70 + 72 + 74 + 76 + 78 + 80 + 82 + 84 + 86 + 88 = 1974

In [52]:
start = int(input("Start: "))
end_p = int(input("End: "))

if start%2 == 1:
  start = start+1

if end_p%2 == 1:
  end_p = end_p - 1

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  
  sum = sum + i
  i += 2

print("=", sum)

Start: 1
End: 12
2 + 4 + 6 + 8 + 10 + 12 = 42

In [53]:
#l[start : end + 1: increment]
l = list( range(0, 10, 1) )
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
# max(a,b,c)
a = int(input())
b = int(input())
c = int(input())

if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

1
2
3
3

In [55]:
def midExam(name,ID,exam="python",duration="30",marks=20):
  pass

In [56]:
midExam()

TypeError: ignored

In [57]:
midExam("Sakib")

TypeError: ignored

In [59]:
midExam("Sakib",20,duration=30)

In [60]:
midExam("Sakib",20)

In [61]:
midExam(exam="python",duration="30",marks=20,"Ou",30)

SyntaxError: ignored

In [63]:
midExam("Onu",exam="python",duration="30",marks=20,ID=30)

In [64]:
midExam(name="Onu",ID=30,marks=20,)

In [66]:
midExam(name="Onu",exam="python",ID=30,number=20)

TypeError: ignored

In [67]:
midExam(name="Onu",exam="python",ID=30,time="30")

TypeError: ignored

In [62]:
midExam(exam="python",duration="30",marks=20,name="Ou",30)

SyntaxError: ignored