<a href="https://colab.research.google.com/github/sj-onu/Python_own/blob/master/Class%2C_Object%2C_Function%2C_Module_and_previous_topics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Account:
  account_number = 0
  balance = 0.0

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.balance)
  
  def set_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.balance = balance

In [ ]:
a= Account()

In [ ]:
  a.account_number=55

In [ ]:
a.set_balance(1000)

In [ ]:
print(a.account_number,a.balance)

55 1000

In [ ]:
class Account2:
  account_number = 0
  __balance = 0.0

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.balance)
  
  def set_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.balance = balance

In [ ]:
a2=Account2()

In [ ]:
 print(a2.account_number, " : ",a2.balance)

55  :  5000

In [ ]:
 a2.account_number=55

In [ ]:
a2.balance=5000

In [ ]:
a2.show_data()

55  :  5000

In [ ]:
a2.__balance = 1000

In [ ]:
class Account3:
  account_number = 0 # public attribute
  __balance = 0.0 # Private attribute

  def __init__(self, account_number, balance): # This is the constructor
    self.account_number = account_number
    self.__balance = balance

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.__balance)
  
  def add_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.__balance += balance

In [ ]:
a3= Account3(1,1000)

In [ ]:
a3.show_data()

1  :  1000

In [ ]:
a3.add_balance=600

In [ ]:
class UAP:

    def __init__(self, name, department , Id, Building):
    self.name = name
    self.department = departmen
    self.owner = owner

  def set_shops(self, n):
    self.number_of_shops = n
  
  def open_or_close(self, day):
    if(day == "Sunday"):
      print("Closed!")
    else:
      print("Welcome. We are open!")
    
  def show_info(self):
    print("Name: ", self.name)
    print("Owner: ", self.owner)
    print("Location: ", self.location)
    print("Shops count:", self.number_of_shops)

IndentationError: ignored

In [ ]:
Sumya_sisters = Shopping_Complex("Sumya sisters Unlimited", "Mymanshing", "Sumya")

In [ ]:
Sumya_sisters.set_shops(00)

In [ ]:
Sumya_sisters.open_or_close("Sunday")

Closed!

In [ ]:
Sumya_sisters.show_info()

Name:  Sumya sisters Unlimited
Owner:  Sumya
Location:  Mymanshing
Shops count: 0

In [ ]:
Sumya_sisters.CEO = "Sakib"

In [ ]:
class CEO:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def show_info(self):
    print("CEO Name:", self.name)
    print("CEO Age:", self.age)

In [ ]:
sakib = CEO("Sakib", 60)

In [ ]:
sakib.show_info()

CEO Name: Sakib
CEO Age: 60

In [ ]:
l = ["A", "b", "jhbsd"]
l = l + ["New"]
print(l)

['A', 'b', 'jhbsd', 'New']

In [ ]:
c = ["New"]
c

['New']

In [ ]:
l=l+c
l

['A', 'b', 'jhbsd', 'New', 'New', 'New']